@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cexq4p');
  src:  url('fonts/icomoon.eot?cexq4p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cexq4p') format('truetype'),
    url('fonts/icomoon.woff?cexq4p') format('woff'),
    url('fonts/icomoon.svg?cexq4p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-contact_mail:before {
  content: "\e0d0";
}
.icon-books:before {
  content: "\e920";
}
.icon-library:before {
  content: "\1f319";
}
.icon-crying:before {
  content: "\ea01";
}
.icon-android:before {
  content: "\eac0";
}

